.app-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 12px;
  padding-top: 16px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  width: 128px;
  height: 130px;
}

.app-img {
  width: 45px;
}

.app-name {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: bold;
}
